body{
    background-color: white;
    /* background-color: #1E1E1E; */
}

body::-webkit-scrollbar{
  display: none;
}


.header{
    width: 100%;
    height: 70px;
    background-color: white;
    /* background-color: #121212; */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    position: fixed;
    z-index: 100;
}

.logo{
    width: 100px;
    height: 50px;
    margin-top: 10px;
    object-fit: cover;
    margin-left: 10px;
}


/*Mobile Navigation*/
.mobile-navigation{
  display: none;
}




/* Dark / Light Mode Checkbox*/
.checkbox-container{
  width: 70px;
  height: 50px;
  margin-top: 10px;
  /*border: 1px solid blue;*/
  float: right;
}


.checkbox {
    opacity: 0;
    
}

.label {
  margin-top: -5px;
    background-color: #111;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    height: 16px;
    width: 40px;
    transform: scale(1.5);
    margin-left: -30px;
}

.label .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
    transform: translateX(24px);
}


.fa-moon {
    color: #f1c40f;
}

.fa-sun {
    color: #f39c12;
}

.onerilenler-baslik{
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  font-weight: bold;
  padding-top: 20px;
  padding-left: 20px;
  
}
.onerilenler{
    width: 90vw;
    height: 40vh;
    padding-top: 80px;
    z-index: 2;
    /*border: 1px solid red;*/
  }
  .onerilen-liste{
    
    width: 98.6vw;
    height: 40vh;
    /*background-color: #55E6C1;*/
    background-color: white;
    /* background-color: #1E1E1E; */
    padding: 10px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    
  }
  
  .onerilen-liste::-webkit-scrollbar {
    display: none;
  }
  
  .onerilen-post{
    width: 320px;
    height: 35vh;
    display: inline-block;
    /*background-color: #1B9CFC;*/
    
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 5px;
    margin-right: 10px;
    position: relative;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    transition: box-shadow .5s;
    
  }
  .onerilen-post:hover{
    box-shadow: 0 13px 15px rgba(0, 0, 0, 0.3);
    transition: box-shadow .5s;
    
  }
  .onerilen-post-resim{
    width: 320px;
    height: 35vh;
    object-fit: cover;
    border-radius: 5px 5px 5px 5px;
    position: absolute;
    
  }

  .onerilen-post-icerik-container{
    width: 320px;
    height: 120px;
    background-color: rebeccapurple;
    margin-top: 150px;
  }
  
  .onerilen-post-baslik{
    max-width: 90%;
    min-width: 60%;
    position: absolute;
    margin-top: 24vh;
    left: 10px;
    font-size: 18px;
    z-index: 1;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    padding-right: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    text-align: center;
  }

  

  .onerilen-post-icerik{
    max-width: 90%;
    min-width: 60%;
    position: absolute;
    margin-top: 22vh;
    left: 10px;
    font-size: 15px;
    z-index: 100;
    color: black;
    font-family: 'Roboto', sans-serif;
    
    padding-right: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  /*Yazı Kutusu*/
  .main{
    display: flex;
    margin-top: 100px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
  }
  .yazi-ana-container{
    width: 50vmax ;
    height: 250px;
    /* border:1px solid  blue; */
    margin-top:10px;
    margin-left: 1vmax;
    
  }

  .yazi-alani{
    max-width: 60%;
    min-width: 30%;
    height: 250px;
    /* border: 1px solid red; */
    float: left;
  }
  .yazar-resim-container{
    width: 25px;
    height: 22px;
    /* border: 2px solid grey; */
    background: rgb(2,0,36);
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    border-radius: 100%;
    padding-top: 0px;
    float: left;
  }
  .yazar-resim-container{
    /* background-color: grey; */
    background: rgb(2,0,36);
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  }
  .yazar-resim{
    width: 25px;
    height: 25px;
    border-radius: 100%;
    object-fit: cover;
  }
  .yazar-adi{
    width: 100%;
    height: 50px;
    
    /* border: 1px solid green; */
  }

  .icerik{
    width: 100%;
    height: 150px;
    /* border:1px solid orange; */
  }

  .icerik-baslik{
    width: 100%;
    height: 75px;
    /* border: 1px solid greenyellow; */
  }
  .icerik-ana{
    width: 100%;
    height: 70px;
    /* border: 1px solid gray; */
  }


  .resim-ana-container{
    width: 39%;
    /* min-width: 10%; */
    height: 250px;
    /* background-color: grey; */
    
    float: left;
  }
  .resim-icerik-alani{
    width: 100%;
    height: 150px;
    /* background-color: greenyellow; */
    margin-top: 50px;
  }

  .resim-icerik{
    width: 100%;
    height: 150px;
    border-radius: 3px;

    object-fit: cover;
  }

  .yazi-bilgi{
    width: 100%;
    height: 30px;
    /* border: 1px solid red; */
  }
  /*Yazilarin Text Kısımları*/

  .yazar-adi-text{
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    padding-left: 35px;
    padding-top: 7px;
  }

  .icerik-baslik-text{
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: bold;
    padding-left: 5px;
    padding-top: 0px;
    padding-right: 2px;
    letter-spacing: 0px;
    line-height: 28px;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    color: black;
  }

  

  .icerik-ana-text{
    font-family: 'Roboto', sans-serif;
      font-size: 18px;
      padding-left: 5px;
      padding-top:10px;
      padding-right: 2px;
      color: #3e455b;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
  }

  .yazi-bilgi-tarih{
    float: left;
    padding-left: 10px;
    padding-top: 8px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
  }
  .yazi-bilgi-nokta{
    float: left;
    width: 5px;
    height: 5px;
    background-color: black;
    border-radius: 100%;
    margin-top: 12px;
    margin-left: 10px;
  }
  .yazi-bilgi-okuma-suresi{
    float: left;
    padding-left: 20px;
    padding-top: 8px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
  }

  a.cikis{
    color: black;
    margin-right: 30px;
    display: "";
  }

  a.yonet{
    color: black;
    margin-right: 30px;
    display: "";
  }

  a.giris{
    color: black;
    margin-right: 30px;
    display: "";
  }

  .editor-link{
    color: black;
  }

  .sign-in-link{
    color: black;
  }
  
  /*MOBİL İÇİN ÖZEL AYARLAR*/
  @media only screen and (max-width: 600px) {
    a.cikis{
      display: none;
    }
  
    a.yonet{
      display: none;
      
    }
  
    a.giris{
      display: none;
    }
    .mobile-navigation{
      width: 95vw;
      height: 70px;
      background-color: #fff;
      box-shadow: 0 -3px 15px rgba(0, 0, 0, 0.3);
      position: fixed;
      z-index: 1;
      bottom: 15px;
      display: block !important;
      margin-left: 3vw;
      border-radius: 20px 20px 20px 20px;
    }
    .mobile-navigation-home{
      width: 50px;
      height: 50px;
      /* border:1px solid blue; */
      margin-top: 5px;
      margin-left: 10vw;
      float: left;
    }

    .lni-home{
      padding-top: 10px;
      padding-left: 10px;
      font-size: 40px;
    }

    .mobile-navigation-add{
      width: 50px;
      height: 50px;
      /* border:1px solid blue; */
      margin-top: 5px;
      margin-left: 20vw;
      
      float: left;
    }

    .lni-plus{
      padding-top: 10px;
      padding-left: 1vw;
      font-size: 40px;
    }

    .mobile-navigation-login{
      width: 50px;
      height: 50px;
      /* border:1px solid blue; */
      margin-top: 5px;
      margin-left: 20vw;
      float: left;
    }

    .lni-user{
      padding-top: 10px;
      padding-left: 1vw;
      font-size: 40px;
    }

    .icerik-ana{
      /* display: none; */
      
      
    }
    .icerik-baslik-text{
      font-family: 'Roboto', sans-serif;
      font-size: 22px;
      font-weight: bold;
      padding-left: 5px;
      padding-top: 0px;
      padding-right: 2px;
      letter-spacing: 0px;
      line-height: 28px;
      cursor: pointer;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      color: black;
    }
    .icerik-ana-text{
      font-family: 'Roboto', sans-serif;
      font-size: 18px;
      padding-left: 5px;
      padding-top:10px;
      padding-right: 2px;
      line-height: 19px;
      color: #3e455b;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }

    .kategoriler{
      display: none;
    }

    .mobile-navigation{
      display: none;
    }

    .editor-link{
      color: black;
    }

    .sign-in-link{
      color: black;
    }
  }
